<div class="container d-flex flex-column align-items-center">
  <h2 class="text-warning text-uppercase">Hall of Fame</h2>
  <div class="d-flex justify-content-center flex-wrap gap-4">
    <div class="rounded overflow-hidden">
      <table class="table table-dark table-striped m-0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Player</th>
            <th scope="col">Score</th>
            <th scope="col">UFOs</th>
            <th scope="col">Time (s)</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          @for (record of generalRecords; track $index) {
            <tr>
              <th scope="row">{{ $index + 1 }}</th>

              <td>{{ record.username }}</td>

              <td>{{ record.punctuation }}</td>

              <td>{{ record.ufos }}</td>
              <td>{{ record.disposedTime }}</td>

              <td>
                {{ record.recordDate | date: 'dd/MM/yyyy HH:mm' }}
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    @if (isLoggedIn) {
      <div class="rounded overflow-hidden">
        <table class="table table-dark table-striped m-0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Player</th>
              <th scope="col">Score</th>
              <th scope="col">UFOs</th>
              <th scope="col">Time (s)</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            @for (record of userRecords; track $index) {
              <tr>
                <th scope="row">{{ $index + 1 }}</th>

                <td>{{ record.username }}</td>

                <td>{{ record.punctuation }}</td>

                <td>{{ record.ufos }}</td>
                <td>{{ record.disposedTime }}</td>

                <td>
                  {{ record.recordDate | date: 'dd/MM/yyyy HH:mm' }}
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
  <div>
    <button routerLink="/home" class="bg-primary text-center text-white rounded border-0 px-3 py-2 m-3">
      Back to Home
    </button>
  </div>
</div>
