<nav class="navbar-nav d-flex flex-row justify-content-between align-items-center bg-warning p-2">
  <ul class="d-flex gap-5 list-unstyled px-4 m-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/preferences" routerLinkActive="active">Preferences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/play" routerLinkActive="active">Play</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/records" routerLinkActive="active">Records</a>
    </li>
  </ul>
  <ul class="d-flex gap-5 list-unstyled px-4 m-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
    </li>
  </ul>
</nav>
