<form
  [formGroup]="preferencesForm"
  (ngSubmit)="onSubmit()"
  class="border rounded p-4 bg-light d-flex flex-column gap-3 bg-dark text-white"
>
  <h3 class="text-warning">Game Preferences</h3>

  <div class="mb-3">
    <label for="number-of-ufos" class="form-label">Number of UFOs</label>
    <select 
      id="number-of-ufos" 
      formControlName="numberOfUfos" 
      class="form-select"
      [class.is-invalid]="preferencesForm.get('numberOfUfos')?.invalid && preferencesForm.get('numberOfUfos')?.touched"
    >
      <option [ngValue]="1">1</option>
      <option [ngValue]="5">5</option>
      <option [ngValue]="9">9</option>
      </select>
    
    @if (preferencesForm.get('numberOfUfos')?.invalid && preferencesForm.get('numberOfUfos')?.touched) {
      <div class="invalid-feedback">
        @if (preferencesForm.get('numberOfUfos')?.hasError('required')) {
          <span>Selecciona un número de OVNIs.</span>
        }
        @if (preferencesForm.get('numberOfUfos')?.hasError('min') || preferencesForm.get('numberOfUfos')?.hasError('max')) {
          <span>El número debe estar entre 1 y 9.</span>
        }
      </div>
    }
  </div>

  <div class="mb-3">
    <label for="time" class="form-label">Time (s)</label>
    <input
      type="number"
      id="time"
      formControlName="time"
      min="60"
      max="180"
      step="60"
      class="form-control"
      [class.is-invalid]="preferencesForm.get('time')?.invalid && preferencesForm.get('time')?.touched"
    />

    @if (preferencesForm.get('time')?.invalid && preferencesForm.get('time')?.touched) {
      <div class="invalid-feedback">
        @if (preferencesForm.get('time')?.hasError('required')) {
          <span>El tiempo es obligatorio.</span>
        }
        @if (preferencesForm.get('time')?.hasError('min')) {
          <span>Mínimo 60 segundos.</span>
        }
        @if (preferencesForm.get('time')?.hasError('max')) {
          <span>Máximo 180 segundos.</span>
        }
      </div>
    }
  </div>

  <div class="form-check mb-3">
    <label for="double-speed" class="form-check-label">Double speed</label>
    <input
      type="checkbox"
      id="double-speed"
      formControlName="doubleSpeed"
      class="form-check-input"
    />
  </div>

  <button type="submit" class="btn btn-primary w-100">
    Play
  </button>
</form>