/* :host selecciona la etiqueta <app-game> en sí misma */
:host {
  display: block;
  /* Comportamiento de bloque */
  width: 100%;
  /* Ancho total */
  height: 100%;
  /* Alto total del padre (<main>) */
}

.game-canvas {
  outline: none;
}

.explosion-img {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
  pointer-events: none;
}
